fastapi
uvicorn
sqlalchemy
pymysql
pydantic
python-dotenv
httpx
gtts
python-multipart
# Thêm Azure Speech SDK:
azure-cognitiveservices-speech
selenium
webdriver-manager
beautifulsoup4
janome
pykakasi
google-generativeai
