fastapi
uvicorn
sqlalchemy
pymysql
pydantic
python-dotenv
httpx
gtts
python-multipart
pydub
audioop-lts
# Thêm Azure Speech SDK:
azure-cognitiveservices-speech
selenium
webdriver-manager
beautifulsoup4
janome

pykakasi
google-genai
